@import "bourbon";

$main_color : #061928;
$second_color: #db1426;
$gray_color: #f6f6f6;


$main_font: 'FuturaFuturisLightC', sans-serif;
$main_title_font: 'FuturaDemiC', sans-serif;
$second_title_font: 'FuturaFuturisC-Bold', sans-serif;