@import "bourbon";
@import "vars.scss";

//Custom Styles Here

form{
  width: 400px;
  margin: 40px auto;
  .field{
    width: 100%;
    margin: 5px 0;
  }
}



//ALWAYS END
@import "_sketches.scss";
@import "_media.scss";
@import "../libs/niftymodal/component.css";
@import "../libs/slick/slick.min.css";
// @import "../fonts/font-awesome/font-awesome.min.css"